// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: #f4ebe0;
    background: linear-gradient(
        135deg, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0.3) 50%),
        url("https://img.lemde.fr/2019/08/01/957/0/3898/1946/1440/720/60/0/d565529_XCcBqhumf6nblv2Sc1k28Atq.jpg");
}

h1, h2 {
    color: white;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h2 {
  font-size: 20px;
}

p {
    color: white;
    font-family: roboto;
    font-weight: lighter;
}

ul {
  padding-left: 0px;
}

.banner-content > ul > a {
  text-decoration: none;
}

.banner {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.banner h1 {
    margin-bottom: 0;
}
.banner h2 {
    font-size: 25px;
    font-weight: lighter;
    opacity: 0.9;
    margin-bottom: 30px;
}
.banner a {
    color: white;
    text-decoration: underline;
    padding: 10px;
}

#footer {
    text-align: center;
    background-color: rgba(244,235,224, 0.6);
}

