.prestations-container-global {
  width: 80%;
  margin: 0 auto;
}

.prestations-titre {
  p {
    text-align: center;
    color: black;
    font-size: 23px;
    padding: 22px;
  }
}

.prestation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.conservation-img {
  position: relative;
  width: 70%;
  img {
    width: 100%;
  }
}
.conservation-img-content {
  position: absolute;
  color: white;
  text-align: center;
  top: 100px;
}
.conservation-content {
  margin-left: 120px;
  display: grid;
  padding: 10px;
  h3 {
    text-align: center;
    text-decoration: underline;
  }
}

.esthetique-img {
  position: relative;
  width: 70%;
  img {
    width: 100%;
  }
}
.esthetique-img-content {
  position: absolute;
  color: white;
  text-align: center;
  top: 123%;
  left: 55%;
  width: 30%;
}
.esthetique-content {
  margin-right: 120px;
  display: grid;
  padding: 10px;
  h3 {
    text-align: center;
    text-decoration: underline;
  }
}

.preventive-img {
  position: relative;
  width: 70%;
  img {
    width: 100%;
  }
}
.preventive-img-content {
  position: absolute;
  color: white;
  width: cover;
  width: 30%;
  text-align: center;
  top: 190%;
  right: 57%;
}
.preventive-content {
  margin-left: 120px;
  display: grid;
  padding: 10px;
  h3 {
    text-align: center;
    text-decoration: underline;
  }
}
